BOT_TOKEN=your_bot_token_here
ADMIN_IDS=184374602

OPENAI_API_KEY=your_openai_api_key_here

# PostgreSQL Database (локальный контейнер)
DATABASE_URL=postgresql+asyncpg://bioactive_user:bioactive_password@postgres:5432/bioactive_db

ROBOKASSA_LOGIN=your_robokassa_login
ROBOKASSA_PASSWORD1=your_password1
ROBOKASSA_PASSWORD2=your_password2

